.title {
  text-align: center;
}
.title__subheader {
  text-align: center;
}

.calculator {
  border: 2px solid black;
  width: 60vw;
  height: 500px;
  margin: 15px auto;
  display: flex;
  border-radius: 4px;
}

.error.error {
  padding: 6px;
  margin-top: 5px;
}

.currencies {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.amounts {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.icon {
  width: 60px;
}
